@model IEnumerable<ProjectFirstSteps.Models.Membre>

@{
    ViewData["Title"] = "Membres";
}

<style>
main .container {
        display: grid;
        grid-template-columns: 18vw auto 10vw;
        column-gap: 2rem;
        position: relative;
    }
</style>

<div class="left">
					<a asp-action="MesPublications" asp-controller="Membres" class="profile">
						<div class="profile-picture">
							<img src="~/Medias/Images/PhotoProfil/pic1.png" alt="">
						</div>
						<div class="handle">
							<h4>@User.Identity.Name</h4>
							<p class="text-muted">
								@Context.Session.GetString("email")
							</p>
						</div>
					</a>

					<div class="sidebar">
						<a class="menu-item active">
							<span><i class="uil uil-home"></i></span><h3>Acceuil</h3>
						</a>
						<a class="menu-item">
							<span><i class="uil uil-users-alt"></i></span><h3>Amis</h3>
						</a>
						
						<a class="menu-item" id="theme">
							<span><i class="uil uil-palette"></i></span><h3>Theme</h3>
						</a>
						<a class="menu-item">
							<span><i class="uil uil-setting"></i></span><h3>Settings</h3>
						</a>
							
					</div>
</div>

				<div class="middle">
					<div class="create-post">
						<div class="profile-picture">
							<img alt="" src="~/Medias/Images/PhotoProfil/pic2.jpg">
						</div>
						<input type="text" placeholder="What's new?" id="create-post">
					</div>

					<table class=table>
						<thead>
							<tr>
								<th>
									@Html.DisplayNameFor(model => model.Email)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.Nom)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.Prenom)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.Role)
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						@foreach (var item in Model) {
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Email)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Nom)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Prenom)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Role.Name)
								</td>
								<td>
									<a style="color:blue" asp-action="PublicationsParam" asp-route-id="@item.Email">Publications</a>
									@if(User.IsInRole("Administrateur")){
										<span>| </span><a style="color:red" asp-action="PublicationsParam" asp-route-id="@item.Email">Reinitialiser</a>
									}									
								</td>
							</tr>
						}
						</tbody>
					</table>

				</div>
<div class="right"></div>

